<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Explision.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{1114,1220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1114,1220}}</string>
        <key>sourceSize</key>
        <string>{1114,1220}</string>
      </dict>
      <key>Menu activ.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,1235},{602,235}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{602,235}}</string>
        <key>sourceSize</key>
        <string>{603,235}</string>
      </dict>
      <key>Star.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,1847},{130,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,129}}</string>
        <key>sourceSize</key>
        <string>{130,129}</string>
      </dict>
      <key>Burger.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,1987},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>Cake.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,1987},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>Donate.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,1987},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>Muffin.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1847},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>Tako.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1913},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,56}}</string>
        <key>sourceSize</key>
        <string>{56,56}</string>
      </dict>
      <key>Pizza.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,1979},{56,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,50}}</string>
        <key>sourceSize</key>
        <string>{56,50}</string>
      </dict>
      <key>Menu.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,1235},{602,235}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{602,235}}</string>
        <key>sourceSize</key>
        <string>{603,235}</string>
      </dict>
      <key>GameOver activ.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,1235},{1012,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1012,237}}</string>
        <key>sourceSize</key>
        <string>{1012,237}</string>
      </dict>
      <key>GameOver.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,5},{1012,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1012,237}}</string>
        <key>sourceSize</key>
        <string>{1012,237}</string>
      </dict>
      <key>Name enter.png</key>
      <dict>
        <key>frame</key>
        <string>{{1376,5},{991,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{991,237}}</string>
        <key>sourceSize</key>
        <string>{991,237}</string>
      </dict>
      <key>NewGame activ.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,1006},{991,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{991,237}}</string>
        <key>sourceSize</key>
        <string>{991,237}</string>
      </dict>
      <key>NewGame.png</key>
      <dict>
        <key>frame</key>
        <string>{{1623,5},{991,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{991,237}}</string>
        <key>sourceSize</key>
        <string>{991,237}</string>
      </dict>
      <key>Raiting activ.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,1482},{991,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{991,237}}</string>
        <key>sourceSize</key>
        <string>{991,237}</string>
      </dict>
      <key>Raiting.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,1729},{991,237}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{991,237}}</string>
        <key>sourceSize</key>
        <string>{991,237}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Textures.png</string>
      <key>size</key>
      <string>{1865,2048}</string>
      <key>textureFileName</key>
      <string>Textures</string>
    </dict>
  </dict>
</plist>
